{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html"%}
{% endblock %}
{% block content %}
{% load formset_tags %}
{% load store_tags %}
{% load static %}

<hr/>

<p>CB: {{currentBottles}}</p>
<p>CV: {{currentVials}}</p>
<p>RB: {{remainderBottles}}</p>
<p>RV: {{remainderVials}}</p>
<p>LCB: {{line_costB}}</p>
<p>LCV: {{line_costV}}</p>
<p>data: {{data.qty}}</p>
<p>lastbill: {{lastbill}}</p>
<p>nextbill: {{nextbill}}</p>

<form id='order_form' method="post" action="" class="post-form form-horizontal" enctype="multipart/form-data">
    <div class='hidden'>
        {% csrf_token %}
        {{ order_form.non_field_errors }}
        {% for hidden_field in order_form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        <fieldset>
            <legend>Who is creating this order?</legend>
                <div class='row'>
                    <table id='form_holder'>
                        <tbody class='col-xs-3'>
                            <tr>
                                <td>
                                    {{ order_form.submitter.errors }}
                                    {{ order_form.submitter }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </fieldset>
        <p>&nbsp;</p>

        <fieldset>
            <legend>Who is paying?</legend>
        <div class='row'>
            <table id='form_holder'>
                <thead>
                    <tr>
                        <th>Requester</th>
                        <th>Department</th>
                        <th>Project Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ order_form.requester.errors }}
                            {{ order_form.requester }}
                        </td>
                        <td>
                            {{ order_form.department.errors }}
                            {{ order_form.department }}
                        </td>
                        <td class='PC'>
                            {{ order_form.project_code.errors }}
                            {{ order_form.project_code }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>&nbsp;</p>
        </fieldset>
        <fieldset>
            <legend>Is this a recurring order?</legend>
            <div class='row'>
                <div class='col-xs-2'>
                    {{ order_form.is_recurring.errors }}
                    {{ order_form.is_recurring }}
                </div>
                <div class='col-xs-10' id='datepicker'>
                    <div class='col-xs-1'>
                        <p><b>From:</b></p>
                    </div>
                    <div class='col-xs-3'>
                        {{ order_form.date_recurring_start }}
                    </div>
                    <div class='col-xs-1'>
                        <p><b>To:</b></p>
                    </div>
                    <div class='col-xs-3'>
                        {{ order_form.date_recurring_stop }}
                    </div>
                    <div class='col-xs-1'>
                        <p><b>How often:</b></p>
                    </div>
                    <div class='col-xs-3'>
                        {{ order_form.weeks.errors }}
                        {{ order_form.weeks }}
                    </div>
                </div>
            </div>
        </fieldset>
        <p>&nbsp;</p>   

        <fieldset>
            <legend>What would you like to order?</legend>
            {{ formset.non_form_errors }} 
            {% for hidden_field in formset.hidden_fields %} 
                {{ hidden_field.errors }} 
                {{ hidden_field }} 
            {% endfor %}
            <div class='row'>
                <table id='form_holder'>
                    <tr>
                        <td style="padding:0" class="OrderLines">
                            {{formset.management_form}}
                            <table id='order_table'>
                            <thead>
                                <div class='row'>
                                    <tr>
                                        <th class='col text-center'>Item</th>
                                        <th class='col text-center'>Qty</th>
                                        <th class='col text-center'>Location</th>                               
                                        <th class='col text-center'>Cost</th>
                                    </tr>
                                </div>
                            </thead>
                            <tbody class='order_table'>
                                <div class='row'>
                                {% for form in formset %}
                                {% if form.non_field_errors %}
                                <tr>
                                    <td colspan="6">
                                        {{ form.non_field_errors }}
                                    </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    {% for hidden_field in form.hidden_fields %} 
                                    {{ hidden_field.errors }} 
                                    {{ hidden_field }}
                                    {% endfor %}
                                    <td class='col text-center'>
                                        {{ form.inventory.errors }}
                                        {{ form.inventory }}
                                    </td>
                                    <td class='col'>
                                        {{ form.qty.errors }}
                                        {{ form.qty }}
                                    </td>
                                    <td class='col text-center'>
                                        {{ order_form.location.errors }}
                                        {{ order_form.location }}
                                    </td>
                                    <td class='col text-center'>
                                        {{ form.line_cost.errors }}
                                        {{ form.line_cost }}
                                    </td>
                                </tr>                            
                                {% endfor %}
                                </div>                        
                            </tbody>
                            </table>                
                        </td>                    
                    </tr>
                </table>
            </div>
            <fieldset>
            <legend>Special Instructions</legend>
            <div class='row'>
                <div class='col-xs-2'>
                {{ order_form.notes_order.errors }}
                {{ order_form.notes_order}}
                </div>
            </div>
        </fieldset>           
        </fieldset>    
    </div>
    <p>&nbsp;</p>          
    <div class='row'>
    <hr/>
        <div class="col-xs-1">
            <input class='btn btn-primary' type='submit' value='Complete Order' name='submit'>
        </div>
    </div>
</form>
<p>&nbsp;</p>
{% endblock %}
