{% load static %}
{% comment %} <script src="{% static 'js/jsmedia.js' %}"></script> {% endcomment %}

<form id='search_form' method="POST" action="" class="post-form form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    {{ search_form.errors }}
    {{ search_form.non_field_errors }}
    {% for hidden_field in search_form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}
    <div>
        <table id='form_holder'>
            <thead>
                <tr>
                    <th class='col-xs-1'>From</th>
                    <th class='col-xs-1'>To</th>
                </tr>
            </thead>
            <tbody>
                <td class='row hidden'>
                    {{form.date_type.errors}}
                    {{form.date_type}}
                </td>
                <td class='col-xs-1' id='datepicker_search_from'>
                    {{form.search_date_from.errors}}
                    {{form.search_date_from}}
                </td>
                <td class='col-xs-1' id='datepicker_search_from'>
                    {{form.search_date_to.errors}}
                    {{form.search_date_to}}
                </td>
                <td class='row hidden'>
                    {{form.and_or.errors}}
                    {{form.and_or}}
                </td>
                <td class='row hidden'>
                    {{form.search_keyword.errors}}
                    {{form.search_keyword}}
                </td>
            </tbody>
        </table>         
    </div>
    <br>
    <div class='row'>
        <div class='col-xs-1 pull-right'>
            <button class="save btn btn-primary" type="submit" name='date' value="Submit">Search</button>
        </div>
    </div>
        {% comment %} <div class='col-xs-1 pull-right'>
            <button href="{% url 'search_export' %}" name='exportCSV' type='submit' class="btn btn-info pull-right">Export Search</button>
        </div>
    </div>     {% endcomment %}
</form>    
<script type='text/javascript'>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            placement : 'top'
        });
    });
</script> 