frankenview.html
THIS IS FROM VIEWS.PY

def create_order(request, copy_id=None):

    OrderInlineFormset = order_inline_formset_factory()
    order_line = OrderLine()
    inventory = Inventory()
    total_message = 'The total billed is $0. Please review.'


    initial ={
#        'submitter': user.id,
        'date_complete': time.strftime('%Y-%m-%d'),
#        'department': department.id,
#        'logged-in': user_profile,
    }
    
    if request.method == "POST":
            order = Order()
            formset = OrderInlineFormset(request.POST, instance=order, prefix='orderlines')
            order_form = OrderForm(request.POST, extra=1)
            orderline_form = OrderLineForm(request.POST, extra=1)
            if all([have_minimum(orderline_form, 1, request), order_form.is_valid(), orderline_form.is_valid(), check_total_is_not_zero(orderline_form,request, total_message)  ]):
                order_form.save()
                orderline_form.save()
                message.success(request,
                    'Order {0} was successfully created.'.format(order_form.instance.id))
                if request.POST.get('order_submit') == 'Save':
                    return HttpResponseRedirect('/')
                else :
                    return HttpResponseRedirect('/order_list.html')
            elif not orderline_form.is_valid():
                messages.error(request, 'There was a problem with one of the order lines. Please review.')
    else :
        if copy_id : 
            order_form, orderline_form, = copy_order_form(copy_id, request, alternative, initial)
        else:
            order_form = OrderForm(initial=initial)
            orderline_form = OrderLineForm(prefix='orderlines')

    return render(request, 'store/order_create.html', {
        'copy_id' : copy_id,
        'order_form' : order_form,
        'orderline_form' : orderline_form
    })

