{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html" %}
{% endblock %}
{% block content %}
<hr/>


<div class = "container" style = "padding-top:10px">
</div>

<div class="row">
    <div class="col-xs-12, col-md-12">
        <h2 class="capped-element-wrapper">
            <span class="capped_headlinehightlight-color">What We Do</span>
        </h2>
    <div class="summary1">
        <p></p>
        <p>
        The Media Prep Facility feeds Janelia research. Experienced staff provide a consistent supply of quality-assured media and reagents, and a wide variety  of fly food products, to support laboratories and team projects. We customize formulations and protocols to precisely fit the needs of Janelia research.
        </p>
        <p>&nbsp;</p>
        <p></p>
    </div>
    </div>
</div>

<div class="item1">
    <p>
    A majority of the Facility's work involves fly food but we also provide bacterial and worm plates and other media products to all of Janelia. The Facility fulfills and delivers orders to the labs quickly. Because commercially-available media products are available in the Janelia stockroom, the Media Facility has flexibility to produce individualized products that are not commercially available.
    </p>
    <p>&nbsp;</p>



<h2 class="capped-element-wrapper">
        <span class="capped_headlinehightlight-color">Meet the Team</span>
    <p></p>
<div class='container'>
<div class="row">
    <div class="col-xs-2, col-md-2">
        <div class="thumbnail">
         <img src="/static/images/staff/brian.jpg" class="img-rounded">
         <div class="caption">
            <h3><a href="mailto:rebhornb@janelia.hhmi.org">Brian Rebhorn</a></h3>
        </div>
        </div>
    </div>
    <div class="col-xs-2, col-md-2">
        <div class="thumbnail">
        <img src="/static/images/staff/hina.png" class="img-rounded">
        <div class="caption">
            <h3><a href="mailto:nazh@janelia.hhmi.org">Hina Naz</a></h3>
        </div>
        </div>
    </div>
    <div class="col-xs-2, col-md-2">
        <div class="thumbnail">
        <img src="/static/images/staff/rodney.jpg" class="img-rounded">
        <div class="caption">
            <h3><a href="mailto:simmonsr@janelia.hhmi.org">Rodney Simmons</a></h3>
        </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>
<div class="row">
    <div class="col-xs-2, col-md-2">
        <div class="thumbnail">
        <img src="/static/images/staff/todd.jpg" class="img-rounded">
         <div class="caption">
            <h3><a href="mailto:lavertyt@janelia.hhmi.org">Todd Laverty</a></h3>
            <p>
            Manager of Media Prep
            </p>
        </div>
        </div>
    </div>
    <div class="col-xs-2, col-md-2">
        <div class="thumbnail">
        <img src="/static/images/staff/jim.jpg" class="img-rounded">
         <div class="caption">
            <h3><a href="mailto:coxj@janelia.hhmi.org">Jim Cox</a></h3>
            <p>
            Director of Animal Services
            </p>
            </p>
        </div>
        </div>
    </div>


</div>
</div>


{% endblock %}
</html>
