
{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html" %}
{% endblock %}
{% block content %}
<hr/>


<div class = "container" style = "padding-top:10px">
</div>

<div class="row">
    <div class="col-xs-12, col-md-12">
        <h2 class="capped-element-wrapper">
            <span class="capped_headlinehightlight-color">What We Do</span>
        </h2>
    <div class="summary1">
        <p></p>
        <p>
        The Media Prep Facility feeds Janelia research. Experienced staff provide a consistent supply of quality-assured media and reagents, and a wide variety  of fly food products, to support laboratories and team projects. We customize formulations and protocols to precisely fit th eneeds of Janelia research.
        </p>
        <p>&nbsp;</p>
        <p></p>
    </div>
    </div>
</div>

<div class="item1">
    <p>
    A majority of the Facility's work involves fly food but we also provide bacterial and worm plates and other media products to all of Janelia. The Facility fulfills and delivers orders to the labs quickly. Because commercially-available media products are available in the Janelia stockroom, the Media Facility has flexibility to produce individualized products that are not commercially available.
    </p>
    <p>&nbsp;</p>

    <h2 class="capped-element-wrapper">
        <span class="capped_headlinehightlight-color">Services</span>
    </h2>
    <h3>
    Fly food - cornmeal based, dextrose based, Wurzburg formula based and Power Food
    </h3>
    <ul>
        <li>Vials and bottles</li>
        <li>With additives (i.e., retinal, G418)</li>
        <li>12-well plates</li>
        <li>100-mm plates</li>
        <li>60-mm plates</li>
        <li>Small culture tubes</li>
        <li>Deep well block plates</li>
        <li>Trikinetic tubes</li>
        <li>Grape or Apple juice plates</li>
        <li>Charcoal plates</li>
        <li>4% agar plates</li>
    </ul>
    <p></p>
    <h3>Bacterial plates</h3>
    <p>
    The Media Prep Facility provides researchers with all types of bacterial plates. There are bench-top sterilizers and automated plate pourers that are capable of making up to 9 liters of media that can be dispensed into either 100mm or 60mm plates.
    </p>
    <p></p>
    <h3>Standard Lambda plates and the following antibiotic plates are make routinely</h3>
    <ul>
        <li>Ampicillin 60 ug/ml</li>
        <li>Carbenicillin 50 ug/ml</li>
        <li>Chloramphenicol 30 ug/ml</li>
        <li>Kanamycin 50 ug/ml</li>
        <li>Tetracycline 15 ug/ml</li>
    </ul>
    <p></p>
    <h3>Bacterial Media</h3>
    <ul>
        <li>2xYT</li>
        <li>ZY</li>
        <li>Sterile Eppendorff tubes</li>
        <li>Culture tubes</li>
    </ul>
</div>



{% endblock %}
</html>