{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html" %}
{% endblock %}
{% block content %}
<hr/>

<div class="row">
    <div class="col-xs-12, col-md-12">
        <h2>Inventory</h2>
    </div>
    <div class="col-xsm-offset-4 text-right action-buttons">
        <a href="/inventory/new" class="btn btn-default">Add inventory item</a></h2>
    </div>
</div>

{% if Items.count == 0 %}
<p>There are no services for your department at this time. Use the button to the right to create some.</p>

{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a href="{{ sorting.product }}">
                    Product
                    {% if sort_arrows.product == "up" %}
                    <span class="glyphicon glyphicon-arrow-up"></span>
                    {% elif sort_arrows.product == "down" %}
                    <span class="glyphicon glyphicon-arrow-down"></span>
                    {% endif %}
                </a>
            </th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for InventoryItems in InventoryItems %}
        <tr>
            <td><a href="{% url 'single_item' InventoryItems.id %}">{{InventoryItems.inventory_text}}</a></td>
            <td>
                {% if InventoryItems.active %}
                <span class="glyphicon glyphicon-ok active-icon" aria-hidden="true"></span>
                {% else %}
                <span class="glyphicon glyphicon-remove disabled-icon" aria-hidden="true"></span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'edit_single_item' InventoryItems.id %}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}