{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html" %}
{% endblock %}
{% block content %}
<hr/>
{% comment %} if staff {% endcomment %}
<div class="row">
    <div class="col-xs-12, col-md-12 head_inv" id="head_inv">
        <h2>Inventory</h2>
    </div>
    <div class="col-xs-12, col-md-12 action-buttons" id="search_row">
        <div class="search_dt">
            {% comment %} <span class="input-group-addon">Search:</span>
            <input type="text" id="searchbox"> {% endcomment %}
        </div>
        <a href="/inventory/new" id="add_inv_btn" class="btn btn-default">Add inventory item</a>
    </div>
</div>

{% if InventoryItems.count == 0 %}
<p>There are no products at this time. Use the button to the right to create some.</p>

{% else %}
<div id="accordion" role="table" aria-multiselectable="true">
    <table class="table table-hover" id="inventory_table">
        <thead>
            <tr id="table_header">
                <th></th>
                <th id="head_hov" class="text-primary sortable" data-sorting="inventory_text">Name
                    {% if 'inventory_text' in Inventory.objects.query.order_by %}
                    <span class="glyphicon glyphicon-arrow-down"></span>
                    {% elif '-inventory_text' in Inventory.objects.query.order_by %}
                    <span class="glyphicon glyphicon-arrow-up"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-sort"></span>                    
                    {% endif %}
                </th>
                <th id="head_hov" class="text-primary">Product</th>
                <th id="head_hov" class="text-primary">Container</th>                 
                <th id="head_hov" class="text-primary">Volume</th>                 
                <th id="head_hov" class="text-primary">Active</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for InventoryItem in InventoryItems %}
            <tr class="item_{{InventoryItem.id}} koala">
                {% comment %} <td><a data-toggle="collapse" data-parent="#accordion" href="#notes" aria-expanded="true" aria-controls="notes">{{InventoryItem.inventory_text}}</a></td> {% endcomment %}
                <td class="toggle_notes">
                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                </td>
                <td><a>{{InventoryItem.inventory_text}}</a></td>                
                <td>{{InventoryItem.product}}</td>
                <td>{{InventoryItem.container|default:'N/A'}}</td>
                <td id="center_columns">{{InventoryItem.volume|default:'N/A'}}</td>
                <td id="center_columns">
                    {% if InventoryItem.active %}
                    <span class="glyphicon glyphicon-ok active-icon" aria-hidden="true"></span>
                    <div style="display:hidden" data-sort="1"></div>
                    {% else %}
                    <span class="glyphicon glyphicon-remove disabled-icon" aria-hidden="true"></span>
                    <div style="display:hidden" data-sort="0"></div>
                    {% endif %}
                </td>
                {% comment %} if staff {% endcomment %}
                <td id="center_columns">
                    <a href="{% url 'edit_single_item' InventoryItem.id %}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
            <tr id="notes" class="collapse" role="text">
                <td><div>{{InventoryItem.notes}}</div></td>
                <th></th><th></th><th></th><th></th><th></th>                
            </tr>                 
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}