{% extends "store/empty_base.html" %}
{% block content %}
{% load store_tags %}
<hr/>

<table class="table table-hover" id="inventory_table">
        <thead>
            <tr id="table_header">
                <th></th>
                {% table_header headers %}
                <th></th>
            </tr>
        </thead>
        <tbody class="searchable">
            {% for Not_C in Not_C %}
            <tr class="item_{{Not_C.id}} koala">
                <td class="toggle_notes">
                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                </td>
                <td class="col-xs-2"><a href="#">{{Not_C.id}}</a></td>                
                <td class="col-xs-2">{{Not_C.department.department_name}}</td>
                <td class="col-xs-2">requester</td>
                <td class="col-xs-2">{{Not_C.date_submitted}}</td>
                <td class="col-xs-2">{{Not_C.date_recurring_start|default:'N/A'}}</td>
                <td class="col-xs-2">{{Not_C.date_recurring_stop|default:'N/A'}}</td>
                <td class="col-xs-2">{{Not_C.location}}</td>
                <td class="col-xs-2">{{Not_C.status}}</td>
            {% endfor %}
            </tr>
            </tbody>
            </table>
{% endblock %} 