{% extends "store/empty_base.html" %}
{% block content %}
{% load store_tags %}

    <table class="table table-hover" id="order_table">
        {{ orderforms.management_form }}
        
        {% if orderforms|length is not 0 %}
            <thead>
                <tr id="table_header">
                    <th></th>
                    {% table_header headers %}
                    <th></th>
                </tr>
            </thead>
            <tbody class="searchable">
                {% for orderform in orderforms %}
                <tr class="order_{{orderform.instance.id}} koala {{orderform.instance.status}}">
                    <td class="toggle_notes" >
                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                    </td>
                    <!-- not staff -->
                    {% if user.is_staff is False and orderform.instance.status == 'Submitted' or user.is_staff is True %}
                    <td>
                        <a href="{% url 'edit_order' orderform.instance.id %}">{{orderform.instance.id}}</a>
                    </td>
                    {% comment %}{% else %}
                    <!-- order ID -->
                    <td>
                        {{orderform.instance.id}}
                    </td>{% endcomment %}
                    {% endif %}
                    <td>{{orderform.instance.department.department_name}}</td>    
                    <!-- coldroom sign-out -->
                    {% if orderforms == cornmeal %}
                    <td>{{orderform.instance.date_created}}</td>
                    <td>{{orderform.instance.location}}</td>
                    <!-- coldroom signout billed -->
                    {% elif orderforms == corn_b %}
                    <td>{{orderform.instance.date_created}}</td>
                    <td>{{orderform.instance.date_billed}}</td>
                    {% else %}
                    <td>{{orderform.instance.department.number}}</td>
                    <td>{{orderform.instance.requester.user_profile.name}}</td>
                    <td>{{orderform.instance.date_created}}</td>

                    {% endif %}
                    <!-- recurring -->
                    {% if orderforms == recur %}
                    <td>{{orderform.instance.date_recurring_start|default:'N/A'}}</td>
                    <td>{{orderform.instance.date_recurring_stop|default:'N/A'}}</td>
                    <!-- completed not billed -->
                    {% elif orderforms == compNotBill %}
                    <td>{{orderform.instance.date_complete}}</td>
                    {% if orderform.instance.is_recurring %}
                        <td class='recur'>{{ orderform.instance.is_recurring|yesno:"Yes,No" }}</td>
                    {% else %}
                        <td>{{ orderform.instance.is_recurring|yesno:"Yes,No" }}</td>
                    {% endif %}
                    <!-- why??? -->
                    {% elif orderforms == incomp %}     
                    {% else %}
                    <td>{{orderform.instance.date_billed}}</td>
                    {% if orderform.instance.is_recurring %}
                        <td class='recur'>{{ orderform.instance.is_recurring|yesno:"Yes,No" }}</td>
                    {% else %}
                        <td>{{ orderform.instance.is_recurring|yesno:"Yes,No" }}</td>
                    {% endif %}
                    {% endif %}                
                    <td>{{orderform.instance.location}}</td>
                    <!-- staff user -->
                    {% if user.is_staff is True %}
                        {% for hidden_field in orderform.hidden_fields %} 
                            {{ hidden_field.errors }} 
                            {{ hidden_field }} 
                        {% endfor %}
                        <td>
                            {{orderform.status.errors}}
                            {{orderform.status}}
                        </td>
                    {% else %}
                    {% comment %} customer: can't change status {% endcomment %}
                    <td>{{orderform.instance.status}}</td>
                    {% endif %}
                    <td>${{orderform.instance.order_total}}</td>
                    <td class="col-xs-1" id="center_columns">
                        <a href="{% url 'email' orderform.instance.id %}" class="btn btn-default">Email</a>
                    </td>
                    <td></td>
                    <tr id="notes" class="collapse" role="text">                        
                        <td colspan="10">
                            <table class ='table'>
                                {% if orderform.instance.orderline_set.all %}
                                <thead>
                                    <tr id="table_header">
                                        <th>Submitter</th>
                                        <th>Description</th>
                                        {% if orderforms == recur %}
                                            <th>Last Complete Date</th>
                                            <th>Last Billed Date</th>
                                        {% endif %}
                                        <th>Quantity</th>
                                        <th>Cost</th>
                                        <th>Notes</th>
                                    </tr>
                                {% for line in orderform.instance.orderline_set.all %}                                
                                {% comment %} have to call from "orderform" variable for each line to know which order it's getting info from {% endcomment %}
                                </thead>
                                <tr>
                                    <td>{{orderform.instance.submitter.user_profile.name}}</td>
                                    <td>{{line.inventory.inventory_text}}</td>
                                    {% if orderforms == recur %}
                                        <td>{{orderform.instance.date_complete}}</td>
                                        <td>{{orderform.instance.date_billed}}</td>
                                    {% endif %}
                                    <td>{{line.qty}}</td>
                                    <td>${{line.total}}</td>
                    <td>{{orderform.instance.notes_order}}</td>
                                {% endfor %}
                                {% else %}
                                    <div><p>There are no order details for this order.</p></div>
                                    </tr>
                                {% endif %}
                            </table>                            
                        </td>                              
                    </tr>
                </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <div><p>There are no orders at this time.</p></div>        
        {% endif %}
    </table>
    <!-- <div class="pagination">
        <span class="step-links">
            {% if pages.has_previous %}
                <a href="?page={{ pages.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ pages.number }} of {{ pages.paginator.num_pages }}.
            </span>
    
            {% if contacts.has_next %}
                <a href="?page={{ pages.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div> -->
{% endblock %} 