{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html"%}
{% endblock %}
{% block content %}
{% load formset_tags %}

<div class="row">
    <div class="col-xs-12">
        {% if order_form.instance.id %}
        <h3>Editing order : {{order_form.instance.id}}</h3>
        {% elif copy_id %}
        <h3>Create a new order based on {{copy_id}}</h3>
        {% else %}
        <h3>Create a new order</h3>
        {% endif %}
    </div>
</div>

{% if not copy_id and order_form.instance.date_billed %}
<div class="row">
  <div class="col-xs-offset-2 col-xs-8 alert alert-danger text-center">
    <b>This order has already been billed. No changes will be saved!</b>
    <p> Please contact the Media Store administrator if you believe changes need to be made.</p>
  </div>
</div>
{% endif %}

<hr/>

{{ form.non_field_errors }}

<form method="post" action="" id="order_form" class="form-horizontal">
    {% csrf_token %}

    {% for hidden in order_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <fieldset>
        <legend>Who is creating this Order?</legend>
 <!--   <div class="row">
        <div class="form-group {% if order_form.submitter.errors %}has-error{% endif %}">
            <div class="col-xs-2 text-right">
                <label class="control-label" for="{{order_form.submitter.id_for_label}}">Submitter:</label>
            </div>
            <div class="col-xs-3">{{order_form.submitter}}</div>
            <div class="col-xs-4">
                <span class="help-block">{{order_form.submitter.errors}}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group {% if order_form.department.errors %}has-error{% endif %}">
            <div class="col-xs-2 text-right">
                <label class="control-label" for="{{order_form.department.id_for_label}}">Department:</label>
            </div>
            <div class="col-xs-3">{{order_form.department}}</div>
            <div class="col-xs-4">
                <span class="help-block">{{order_form.department.errors}}</span>
            </div>
        </div>
    </div> -->
</fieldset>


    <fieldset>
        <legend>Who is paying?</legend>
<!--    <div class="row">
        <div class="form-group {% if order_form.main_requester.errors %}has-error{% endif %}">
            <div class="col-xs-2 text-right">
                <label class="control-label" for="{{order_form.main_requester.id_for_label}}">Requester:</label>
            </div>
            <div class="col-xs-3">{{order_form.main_requester}}</div>
            <div class="col-xs-4">
                <span class="help-block">{{order_form.main_requester.errors}}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            {{ dept_formset.management_form }}
            {{ dept_formset.media }}
            <table class="table workorder_dept_table">
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>Project ID</th>
                        <th>% Charged</th>
                        <th>Delete?</th>
                    </tr> 
                </thead>
                <tbody>
                    {% for form in dept_formset %}
                    <tr>
                    {% for hidden in form.hidden_fields %}
                        {{hidden}}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                    <td>{{field}} {{field.errors}}</td>
                    {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="button" class="add-workorder-dept btn btn-default" value="Add another department"/>
        </div>
    </div> -->

    </fieldset>


    <fieldset>
        <legend>What would you like to order?</legend>

        <div class="row">
            <div class="form-group {% if order_form.inventory.errors %}has-error{% endif %}">
                <div class="col-xs-2 text-right">
                    <label class="control-label" for="{{order_form.inventory.id_for_label}}">Service:</label>
                </div>
                <div class="col-xs-3">{{order_form.inventory}}</div>
                <div class="col-xs-4">
                    <span class="help-block">{{order_form.inventory.errors}}</span>
                </div>
            </div>
        </div>
        <hr/>

        <div class="row">
            <div class="col-xs-12">
                <table id='form_holder'>
                    <tr>
                        <td style="padding:0" class="order_lines">
                            {{ line_formset.management_form }}
                            {{ line_formset.media }}
                            <table id="order_table">
                            <thead>
                                <tr>
                                <th>Item</th>
                                <th>Container</th>
                                <th>Notes</th>
                                <th>Qty</th>
                                <th>Unit</th>
                                <th>Cost</th>
                                <th>Delete?<input type="checkbox" class="delete-all" /></th>
                                <th>Total</th>
                                </tr>
                            </thead>
 <!--                            <tbody>
                                {% for form in line_formset %}
                                <tr>
                                {% for hidden in form.hidden_fields %}
                                    {{hidden}}
                                {% endfor %}

                                {% for field in form.visible_fields %}
                                <td>{% if field.name == 'cost' %}${% endif %}{{field}}</td>
                                {% endfor %}

                                </tr>
                                {% if form.errors %}
                                <tr>
                                    {% for field in form.visible_fields %}
                                    <td>{{field.errors}}</td>
                                    {% endfor %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody> -->
                            </table>

                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <input id="add_order_line" class="btn btn-default" type="button" value="Add another service" />

        </div>

        <hr/>

        </fieldset>


{% endblock %}



