{% extends "store/empty_base.html" %}
{% block content %}
{% load store_tags %}
<hr/>
{% comment %} if staff {% endcomment %}

{% if order_list %}
    <div><p>within if order_list</p></div>
    {% for order in order_list %}
            <div>{{order.status}}</div>
            <div>{{order.date_submitted}}</div>
            <div>{{order.special_instructions}}</div>
        {% for department in department.order_set.all %}
            <div>{{department.number}}</div>
        {% endfor %}
    {% endfor %}
{% endif %}
{% endblock %}