{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html"%}
{% endblock %}
{% block content %}
{% load formset_tags %}
{% load store_tags %}

<hr/>
<p>&nbsp;</p>

<div class='row'>
    <div class='col-xs-12'>
    <h2>Create a new order</h2>
    </div>
</div>
<hr/>
<p>&nbsp;</p>



<div class='row'>
    <div class='col-xs-12'>
    <form id='OrderForm' method="post" action="" class="post-form form-horizontal">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
    {% endfor %}
        <h3>Who is creating this order?</h3>
    <hr/>
    <p>&nbsp;</p>

        <h3>Who is paying?</h3>
    <hr/>
    <p>&nbsp;</p>

        <h3>Is this a recurring order?</h3>
    <hr/>
    <p>&nbsp;</p>

        <h3>What would you like to order?</h3>
    <hr/>

        <div class="row">
            <div class="col-xs-2 text-right">
                <label class='media-label' for='{{order_form.media.id_for_label}}'>Type:</label>
            </div>
            <div class='col-xs-3'>{{order_form.media}}</div>

            <div class='col-xs-12'>
                <table id='form_holder'>
                    <tr>
                        <td style="padding:0" class="OrderLines">
                        {{ formset.management_form }}
                            <table id='OrderCreate'>
                            <thead>
                                <th>Item</th>
                                <th>Container</th>
                                <th>Notes</th>
                                <th>Qty</th>
                                <th>Unit</th>
                                <th>Cost</th>
                                <th>Delete?<input type='checkbox' class='delete-all' /></th>
                                <th>Total</th>
                            </thead>
                            <tbody>
                                {% for item in formset %}
                                <tr>
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                    <td>{{ OrderForm }}</td>
                                </tr>
                                {% if order_form.errors %}
                                <tr>
                                {% for field in order_form.visible_fields %}
                                    <td>{{field.errors}}</td>
                                {% endfor %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% verbatim %}
<script id='order-lineform' type='text/x-handlebars-template'>
    <tr class='highlight'>
        <input id='id_OrderAll_set-{{id}}-id' name='id_OrderAll_set-{{id}}-id' type='hidden'>
        <input id='id_OrderItem_set-{{id}}-id' name='id_OrderItem_set-{{id}}-id' type='hidden'>
        <td>
            <select id='id.media_type' name='media_type' class='chosen-select' style='display: none;'>==$0
            {% endverbatim %}
            <option value=''>------</option>
            {% for option in Order_form.forms.0.instance.MEDIA_CHOICES %}
            <option value='{{option.0}}'>{{option.1}}</option>
            {% endfor %}
            {% verbatim %}
            </select>
        </td>
        <td>
        <td></td>
    </tr>
</script>
{% endverbatim %}
{% endblock %}

