{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html" %}
{% endblock %}
{% block content %}
<hr/>
{% comment %} <ul class="nav nav-tabs">
        <li class="active">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="disabled">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
{% endblock %} {% endcomment %}
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" {% if active_tab == 'p1' %}class="active"{% endif %} >
        <a href="#not_complete" aria-controls="home" role="tab" data-toggle="tab">
            {% comment %} <span class="badge">{{workorder_list.paginator.count}}</span>  {% endcomment %}
            Orders not completed
        </a>
    </li>
    <li role="presentation" {% if active_tab == 'p2' %}class="active"{% endif %} >
        <a href="#complete_not_billed" aria-controls="profile" role="tab" data-toggle="tab">
            {% comment %} <span class="badge">{{last_billed.paginator.count}}</span>  {% endcomment %}
            Completed orders not yet billed
        </a>
    </li>
    <li role="presentation" {% if active_tab == 'p3' %}class="active"{% endif %} >
        <a href="#billed" aria-controls="profile" role="tab" data-toggle="tab">
            {% comment %} <span class="badge">{{last_billed.paginator.count}}</span>  {% endcomment %}
            Completed orders billed the last billing period
        </a>
    </li>    
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane workorder_container {% if active_tab == 'p1' %}active{% endif %}" id="not_complete">
        <div class="row">
            <div class="col-xs-12">
                <h3>Unbilled Workorders you created after {{billed_date}}</h3>
            </div>
        </div>

        {% comment %} {% include "TimeMatrix/workorder_search_form.html" %} {% endcomment %}

        <div class="row">
            <div class="col-xs-12 workorder_list">
                {% include "TimeMatrix/workorder_list.html" with filtering="on" billed="no" nav_name="unbilled_pagination" page_nav_arg="p1" page_range=wo_page_range %}
            </div>
        </div>
    </div>


    <div role="tabpanel" class="tab-pane workorder_container {% if active_tab == 'p2' %}active{% endif %}" id="complete_not_billed">
        <div class="row">
            <div class="col-xs-12">
                <h3>Workorders billed to you from current and previous billing cycle.</h3>
            </div>
        </div>

        {% comment %} {% include "TimeMatrix/workorder_search_form.html" with search_form=billed_to_search %} {% endcomment %}

        <div class="row">
            <div class="col-xs-12 workorder_list">
                {% include "TimeMatrix/workorder_list.html" with title="off" workorder_list=billed_to type="billed_to" filtering="on" nav_name="billed_to_pagination" page_nav_arg="p2" page_range=billed_to_range user=user only %}
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane workorder_container {% if active_tab == 'p3' %}active{% endif %}" id="billed">
        <div class="row">
            <div class="col-xs-12">
                <h3>Workorders from last billing period ending {{billed_date}}</h3>
            </div>
        </div>

        {% comment %} {% include "TimeMatrix/workorder_search_form.html" with search_form=last_billed_search %} {% endcomment %}

        <div class="row">
            <div class="col-xs-12 workorder_list">
                {% include "TimeMatrix/workorder_list.html" with title="off" workorder_list=last_billed type="last_billed" filtering="on" nav_name="last_billed_pagination" page_nav_arg="p3" page_range=last_billed_range user=user only %}
            </div>
        </div>
    </div>

</div>

{% comment %} {% else %}
<div class="row">
    <div class="col-xs-12">
        <h2>Welcome to ResourceMatrix</h2>
        <h3><a href="/login">Please login to continue</a></h3>
    </div>
</div>

{% endif %} {% endcomment %}
{% comment %} <p class="text-muted">v: {{version}}</p> {% endcomment %}
{% endblock %} 
