{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html"%}
{% endblock %}
{% block content %}
{% load formset_tags %}
{% load store_tags %}

<div class="row">
    <div class="col-xs-12">
        {% if order_form.instance.id %}
        <h3>Editing order : {{order_form.instance.id}}</h3>
        {% elif copy_id %}
        <h3>Create a new order based on {{copy_id}}</h3>
        {% else %}
        <h3>Create a new order</h3>
        {% endif %}
    </div>
</div>

{% if not copy_id and order_form.instance.date_billed %}
<div class="row">
  <div class="col-xs-offset-2 col-xs-8 alert alert-danger text-center">
    <b>This order has already been billed. No changes will be saved!</b>
    <p> Please contact the Media Store administrator if you believe changes need to be made.</p>
  </div>
</div>
{% endif %}

<hr/>

<!--{{ form.non_field_errors }}-->

<div>
<form method="post" action="" id="order_form-h" class="form-horizontal">
    {% csrf_token %}
    {% for hidden in order_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <fieldset>
        <legend>Who is creating this Order?</legend>
    </fieldset>


    <fieldset>
        <legend>Who is paying?</legend>
    </fieldset>

    <fieldset>
        <legend>Is this a Recurring Order?</legend>
        <section id='first' class = 'section'>
            <div class = 'container'>
                <input type="radio" name="group1" id='radio_1'>
                <label for = 'radio_1'><span class="radio">Yes</span></label>
            </div>
            <div class="container">
                <input type="radio" name="group1" id="radio_2">
                <label for = 'radio_2'><span class="='radio">No</span></label>
            </div>
        </section>
    </fieldset>

    <fieldset>
        <legend>What would you like to order?</legend>
        <!--{% if radio_1 or radio_2 %}-->
            <div class="row">
                <div class="form-group {% if order_form.inventory.errors %}has-error{% endif %}">
                    <div class="col-xs-2 text-right">
                        <label class="control-label" for="{{order_form.inventory.id_for_label}}">Item:</label>
                    </div>
                </div>
            </div>
            <hr/>

            <div class='row'>
                <div class="col-xs-12">
                    <table id='form_holder'>
                        <tr>
                            <td style='padding:0' class="order_lines">
                            {{ line_formset.management_form }}
                                <table id = 'order_create'>
                                <thead>
                                    <th>Item</th>
                                    <th>Container</th>
                                    <th>Notes</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>Cost</th>
                                    <th>Delete?<input type="checkbox" class="delete-all" /></th>
                                    <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in line_formset %} <!--item or form in order_form-->
                                    <tr>
                                    {% for hidden in form.hidden_fields %}
                                    {{hidden}}
                                    {% endfor %}
                                    <td>
                                    {{line_formset}}
                                    </td>
                                    <td class='line_total'>
                                    {{form.instance.total | currency}}</td>
                                    </tr>
                                    {% if form.errors %}
                                    <tr>
                                        {% for field in form.visible_fields %}
                                        <td>{{field.errors}}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            {% if radio_1 %}
            <div class='row'>
                <div class='col-xs-3'>
                    <input type="add_order_line" class='btn-default' type='button' value="Add another order line" />
                </div>
                <div class="col-xs-offset-7 col-xs-2 text-right">
                    <p class="aggregate_total">{{line_formset.instance.total | currency}}</p>
                </div>
            </div>
            {% endif %}
            <div class ='row'>
                <p>This is a test.</p>
            </div>
    </fieldset>
<hr/>
</form>
</div>
{% endblock %}







<!--                <div class="col-xs-3">
                    <select id='inventory_id' name='inventory' class="chosen-select" style="display: none;"></select>

                <div class="col-xs-3">{{order_form.inventory}}</div>
                <div class="col-xs-4">
                    <span class="help-block">{{order_form.inventory.errors}}</span>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-12">
                <table id='form_holder'>
                    <tr>
                        <td style="padding:0" class="order_lines">
                            {{ line_formset.management_form }}
                            {{ line_formset.media }}
                            <table id="order_table">

                            <tbody>
                                {% for form in line_formset %}
                                <tr>
                                {% for hidden in form.hidden_fields %}
                                    {{hidden}}
                                {% endfor %}
                                {% for field in form.visible_fields %}
                                <td>{% if field.name == 'cost' %}${% endif %}{{field}}</td>
                                {% endfor %}
                                </tr>
                                {% if form.errors %}
                                <tr>
                                    {% for field in form.visible_fields %}
                                    <td>{{field.errors}}</td>
                                    {% endfor %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
            <tr>
                <td><input id="add_order_line" class="btn btn-default" type="button" value="Add another service" /></td>
                <td><input id='clear_all' class="btn clear" type='button' value="Delete All"></td>
            </tr>
        </div>
        <hr/>-->


def order(request):
    context = {}
    OrderTotal = Order.objects.all()
    # MC = Inventory(media_choices)
    # print(MC)
    History = OrderTotal.order_by('date_created')
    # render them in a list.
    return render(request, 
        'store/order_list.html', 
        {
        'OrderTotal' : OrderTotal,
        }, context)

def create_order(request,id=1, copy_id=None): #MUST CHANGE id=1 to id
#ADD LOGIC FOR RADIO BUTTON FOR RECURRING ORDERS TO SHOW OR HIDE LINE ITEMS
    context = {}
    return render(request, 'store/order_create.html')
    #user = request.user
    #user_profile = UserProfile.objects.get(user=user.id)
    #department = Department.objects.get(number=user_profile.department.number)
    #billed_date = Order.objects.already_billed()

    #order_list = order_list(user, filters={'limit'=10})#need to add this!!!

    '''initial={
    'submitter'= user.id,
    'date_complete'= time.strftime("%Y-%m-%d"), #not sure strftime!!!
    'department'= department.id,
    'logged_in'= user_profile,
    }'''

    OrderLineFormSet = order_inline_formset_factory(1)

    if request.method=='POST':
        order = Order()
        order_form = OrderForm(request.POST, instance=order, initial=initial)
        line_formset = OrderLineFormSet(request.POST, instance=order, prefix='orderlines')
        line_message = 'There must be at least one valid line associated with the order. Check inventory'
        total_message = 'The total billed for this workorder is $0. That seems wrong.'

        if all([have_minimum(line_formset,1, request, line_message), order_form.is_valid(), line_formset.is_valid(), check_total_is_not_zero(line_formset, request, total_message) ]):
            order_form.save()
            line_formset.save()
            messages.success(request, 'order {0} was successfully created.'.format(order_form.instance.id))
            if request.POST.get('order_submit') == 'Save':
                return HttpResponseRedirect('/')
            else:
                return HttpResponseRedirect('/home')
        elif not line_formset.is_valid():
            messages.error(request, 'There was a problem with one of the order lines. Please see below.')
    else:
        if copy_id:
            order_form, line_formset = _copy_order_form(copy_id, request, alternative, initial)
        else:
            order_form = OrderForm(initial=initial)
            line_formset = OrderLineFormSet(prefix='orderlines')
#MUST ADD ALL DEPARTMENT INFO IN IF STATEMENTS!!!!!!!!!!!!!!!!!!
    return render(request, 'media/order_create.html', {
        'copy_id' : copy_id,
        'order_form' : order_form,
        'line_formset' : line_formset,
        'order_list' : order_list,
        'date_billed' : date_billed
    }, context_instance=RequestContext(request))

def _copy_order_form(id, request, alternative, initial):
    original = Order.objects.get(id=id)
    original_lines = OrderLine.objects.filter(order_id=original.id).order_by('id')
#MUST ADD DEPARTMENT INFO HERE!!!!!!!!!!!
    
    if alternative:
        fields = Order._meta.get_all_field_names()
        new_order = Order()
        ignored = ('main_requester', 'bill_to', 'order', 'orderline')
        for field in fields:
            if field in ignored:
                continue
            setattr(new_order, field, getattr(original, field))
    else:
        new_order = original

    new_order.pk = None

    if new_order.department_id != initial['department']:
        user_profile = UserProfile.objects.get(user=initial['submitter'])
        if new_order.department in user_profile.alt_departments.all():
            initial['department'] = new_order.department_id

    OrderInLineFormSet = order_inline_formset_factory(extra=len(original_lines))

    if alternative:
        dept_count = 1
    else:
        dept_count = len(original_depts)

    order_form = OrderForm(
        instance=new_order,
        initial=initial,
        )

    formset = OrderInLineFormSet(instance=new_order, prefix='orderlines')

    ignored_lines = ('qty')

    for form, data in zip(formset.forms, original_lines):
        fields = form.base_fields.keys()
        form.initial = {}
        for field in fields:
            if alternative and field in ignored_lines:
                continue
            form.initial[field] = getattr(data, field)




def past_order(request):
    context = {}
    return render(request, 'store/order_past.html')

def edit_past_order(request):
    context = {}
    return render(request, 'store/order_edit.html')

def recurring_order(request):
    context = {}
    return render(request, 'store/order_list.html')