
{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html" %}
{% endblock %}
{% block content %}

<div class="row">
     <div class="col-xs-12">
         <h3>Work Order Search Results</h3>
     </div>
 </div>
 <hr/>

<div class="workorder_container">
    <div class="row">
        <div class="col-xs-12">
            {% include "store/search_form.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% if reportCr %}
                {% include "store/search_list.html" with reports=reportCr headers=headersCr %}
            {% elif reportCo %}
                {% include "store/search_list.html" with reports=reportCo headers=headersCo %}
            {% elif reportB %}
                {% include "store/search_list.html" with reports=reportB headers=headersB %}
            {% else %}
                {% include "store/search_list.html" with reports=reportKey headers=headersKey %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}