
{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html" %}
{% endblock %}
{% block content %}

<div class="row">
     <div class="col-xs-12">
         <h3>Search Results</h3>
     </div>
 </div>
 <hr/>

<div class="workorder_container">
    <div class="row">
        <div class="col-xs-12">
            {% include "store/search_form.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% if date_type == 'Date Created' %}
                {% include "store/search_list.html" with headers=headersCr %}
            {% elif date_type == 'Date Completed' %}
                {% include "store/search_list.html" with headers=headersCo %}
            {% elif date_type == 'Date Billed' %}
                {% include "store/search_list.html" with headers=headersB %}
            {% else %}
                {% include "store/search_list.html" with headers=headersKey %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}