
{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html" %}
{% endblock %}
{% block content %}

<div class="row">
     <div class="col-xs-12">
         <h3>Search Results</h3>
     </div>
 </div>
 <hr/>

<div class="searchform_container">
    <div class="col-xs-12">
        {% include "store/search_form2.html" %}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {% include "store/search_list2.html" with headers=headers %}
    </div>
</div>

{% endblock %}