{% extends "store/empty_base.html" %}
{% block content %}
{% load store_tags %}

<hr/>
{{keys}}
{{keys0}}
Q1:{{q_object1}}
Q2:{{q_object2}}
Q: {{q_object}}
{% comment %} {% for key in keys %}
    <div>
        {{key}}
    </div>
{% endfor %} {% endcomment %}
<table class="table table-hover" id="order_table">
        {{ reports.management_form }}
        
        {% if reports|length is not 0 %}
            <thead>
                <tr id="table_header">
                    <th></th>
                    {% table_header headers %}
                    <th></th>
            </thead>
            <tr>
            <tbody class="searchable">
                {% for report in reports %}
                <tr class="order_{{report.order.id}} koala {{report.order.status}}">
                    <td class="toggle_notes" >
                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                    </td>
                    <!-- not staff -->
                    {% if user.is_staff is False and report.status == 'Submitted' or user.is_staff is True %}
                    <td>
                        <a href="{% url 'edit_order' report.order.id %}">{{report.order.id}}</a>
                    </td>
                    {% else %}
                    <!-- order ID -->
                    <td class='ordernum'>
                        {{report.order.id}}
                    </td>
                    {% endif %}
                    {% comment %} add manager name to department name? ~FIX~ {% endcomment %}
                    <td>{{report.order.department.department_name}}</td> 
                    <td>{{report.order.requester.user_profile.name}}</td>
                    <td>{{report.inventory.inventory_text}}
                    <td>{{report.qty}}
                    {% if report.is_recurring %}
                    <td class='recur'>{{ report.order.is_recurring|yesno:"Yes,No" }}</td>
                    {% else %}
                    <td>{{ report.order.is_recurring|yesno:"Yes,No" }}</td>
                    {% endif %}
                    <td>{{report.order.location}}</td>
                    <td class='{{report.status}}'>{{report.order.status}}</td>
                    <td class='linetotal {{report.order.id}}'>${{report.total}}</td>
                    <td class="col-xs-1" id="center_columns">
                        <a href="{% url 'email' report.id %}" class="btn btn-default">Email</a>
                    </td>
                    <td class="col-xs-1" id="center_columns">
                        <a href="{% url 'copy_order' report.id %}" class='btn btn-success'>Copy</a>
                    </td>
                    {% if report.status == 'Submitted' and user.is_staff is False %}
                    <td class="col-xs-1" id="center_columns">
                        <!-- <a href="{% url 'delete_order' id=report.id %}" class='btn btn danger'>Delete</a> -->
                        <input type='submit' value='Cancel' class=" btn btn-danger cancelbtn">
                    </td>
                    {% endif %}
                    <tr id="notes" class="collapse" role="text">                        
                        <td colspan="10">
                            <table class ='table'>
                                <thead>
                                    <tr class='invclass' id="table_header">
                                        <th>Submitter</th>
                                        <th>Cost Center</th>
                                        <th>Date Submitted</th>
                                        {% if report.order.status == 'Complete'%}
                                            <th>Date Completed</th>
                                        {% elif report.order.status == 'Billed' %}
                                            <th>Date Billed</th>
                                        {% elif report.order.status == 'Canceled' %}
                                            <th>Date Canceled</th>
                                        {% endif %}
                                        {% if report.order.is_recurring %}
                                            <th>How Often</th>
                                        {% endif %}
                                        <th>Order Total</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>{{report.order.submitter.user_profile.name}}</td>
                                    <td>{{report.order.department.number}}</td>
                                    <!-- do we need this now that each recurring order duplicates? ~FIX~ -->
                                    <td>{{report.order.date_created}}</td>
                                    {% if report.order.status == 'Complete'%}
                                        <td>{{report.order.date_complete}}</td>
                                    {% elif report.order.status == 'Billed' %}
                                        <td>{{report.order.date_billed}}</td>
                                    {% elif report.order.status == 'Canceled' %}
                                        <td>{{report.order.date_modified}}</td>
                                    {% endif %}
                                    {% if report.order.is_recurring %} 
                                        <td>{{report.order.get_weeks_display}}</td>
                                    {% endif %}
                                    <td class = 'ordertotal {{report.order.id}}'>${{report.order.order_total}}</td>
                                    <td>{{report.order.notes_order}}</td>
                            </table>                            
                        </td>                              
                    </tr>
                </tr>

                {% endfor %}
            </tbody>
        {% else %}
            <div><p>No search results</p></div>        
        {% endif %}    
    </table>   
    {% if record_num %}
    <div>
        <p>{{record_num}} found records</p>
    </div>
    {% endif %}
    {% if nums.has_other_pages %}
        <ul class="pagination">
        {% if nums.has_previous %}
            <li><a href="?page={{ nums.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in users.paginator.page_range %}
            {% if nums.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if nums.has_next %}
            <li><a href="?page={{ nums.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        </ul>
    {% endif %}
{% endblock %} 