
{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html" %}
{% endblock %}
{% block content %}

<div class="row">
     <div class="col-xs-12">
         <h3>Search Results</h3>
     </div>
 </div>
 <hr/>
 <div>
    <p>{{week1}} : {{due1}}</p>
    <p>{{week2}} : {{due2}}</p>
    <p>{{week3}} : {{due3}}</p>
    <p>{{week4}} : {{due4}}</p>
 </div>

<div class="searchform_container">
    <div class="col-xs-12">
        {% include "store/search_form2.html" %}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {% include "store/search_list2.html" with headers=headers %}
    </div>
</div>

{% endblock %}