
{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html" %}
{% endblock %}
{% block content %}
<hr/>


<div class = "container" style = "padding-top:10px">
</div>

<div class="row">
    <div class="col-xs-12, col-md-12">
        <h2 class="capped-element-wrapper">
            <span class="capped_headlinehightlight-color">Services</span>
        </h2>
        <p>&nbsp;</p>
        <h3>
        Fly food - cornmeal based, dextrose based, Wurzburg formula based and Power Food
        </h3>
        <p>&nbsp;</p>
        <ul>
            <li> <a data-toggle="collapse" href="#picture">Vials and bottles</a></li>
                <div id="picture" class="collapse">
                    <img src="/static/images/Koala.jpg">
                </div>
            <li>With additives (i.e., retinal, G418)</li>
            <li>12-well plates</li>
            <li>100-mm plates</li>
            <li>60-mm plates</li>
            <li>Small culture tubes</li>
            <li>Deep well block plates</li>
            <li>Trikinetic tubes</li>
            <li>Grape or Apple juice plates</li>
            <li>Charcoal plates</li>
            <li>4% agar plates</li>
        </ul>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h3>Bacterial plates</h3>
        <p>&nbsp;</p>
        <p>
        The Media Prep Facility provides researchers with all types of bacterial plates. There are bench-top sterilizers and automated plate pourers that are capable of making up to 9 liters of media that can be dispensed into either 100mm or 60mm plates.
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h3>Standard Lambda plates and the following antibiotic plates are make routinely</h3>
        <p>&nbsp;</p>
        <ul>
            <li>Ampicillin 60 ug/ml</li>
            <li>Carbenicillin 50 ug/ml</li>
            <li>Chloramphenicol 30 ug/ml</li>
            <li>Kanamycin 50 ug/ml</li>
            <li>Tetracycline 15 ug/ml</li>
        </ul>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h3>Bacterial Media</h3>
        <p>&nbsp;</p>
        <ul>
            <li>2xYT</li>
            <li>ZY</li>
            <li>Sterile Eppendorff tubes</li>
            <li>Culture tubes</li>
        </ul>
</div>


<p>&nbsp;</p>



{% endblock %}
</html>