{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html"%}
{% endblock %}
{% block content %}
{% load formset_tags %}
{% load store_tags %}
{% load static %}
<script src="{% static 'js/order_edit.js' %}"></script> 
<script type="text/javascript">
    var inventory_groups = {{ inventory_lists | safe}};
</script>

<hr/>
<p>&nbsp;</p>

<div class='row'>
    <div class='col-xs-12'>
    <h2>Bill remainder of fly food to the Fly Facility</h2>
    </div>
</div>
<hr/>
<p>&nbsp;</p>

<div><p>bottles:{{current}}</p></div>
{% endblock %}
