{% extends "store/SObase.html" %}
{% block content %}
{% load formset_tags %}
{% load store_tags %}
{% load static %}
<script src="{% static 'js/signout_edit.js' %}"></script> 
<script type="text/javascript">
    var inventory_groups = {{ signout_lists | safe}};
    window.onload = recurringAlert;
</script>
<hr/>
<p>&nbsp;</p>
{% if uname != False or user.is_staff is True %}
    <div class='row'>
        <div class='col-xs-12'>
            <h2 class='classMSO'>Media Sign-out for the {{user.first_name}}  {{user.last_name}}</h2>           
        </div>
    </div>
    <hr/>
    <p>&nbsp;</p>

    <div id="mapPrint">    
        <img id="img" src="/static/images/2E.png">
    </div>

    <form id='order_form' method="post" action="" class="post-form form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {{ order_form.non_field_errors }}
        {% for hidden_field in order_form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        <fieldset>
        <div class='row'>
            <table id='form_holder'>
                <thead>
                    <tr>
                        <th>Who are you?</th>
                        <th>Who is the food for?</th>
                        <th>Dept?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ order_form.submitter.errors }}
                            {{ order_form.submitter }}
                        </td>
                        <td>
                            {{ order_form.requester.errors }}
                            {{ order_form.requester }}
                        </td>
                        <td>
                            {{ order_form.department.errors }}
                            {{ order_form.department }}
                        </td>
                        <td class='hidden'>
                            {{ order_form.project_code.errors }}
                            {{ order_form.project_code }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='row hidden'>
            <div class='col-xs-2'>
                {{ order_form.is_recurring.errors }}
                {{ order_form.is_recurring }}
            </div>
            <div class='col-xs-10' id='datepicker'>
                <div class='col-xs-1'>
                    <p><b>From:</b></p>
                </div>
                <div class='col-xs-3'>
                    {{ order_form.date_recurring_start }}
                </div>
                <div class='col-xs-1'>
                    <p><b>To:</b></p>
                </div>
                <div class='col-xs-3'>
                    {{ order_form.date_recurring_stop }}
                </div>
                <div class='col-xs-1'>
                    <p><b>How often:</b></p>
                </div>
                <div class='col-xs-3'>
                    {{ order_form.weeks.errors }}
                    {{ order_form.weeks }}
                </div>
            </div>
            <div class='col-xs-2'>
                {{ order_form.notes_order.errors }}
                {{ order_form.notes_order}}
            </div>
            <div >
                {{ order_form.project_code.errors }}
                {{ order_form.project_code }}
            </div>
            <div>
                {{order_form.location.errors}}
                {{order_form.location}}
            </div>
        </div>
        <p>&nbsp;</p>
        </fieldset>
        <p>&nbsp;</p>
        <fieldset>
            <legend>What would you like to order?</legend>
            {{ formset.non_form_errors }} 
            {% for hidden_field in formset.hidden_fields %} 
                {{ hidden_field.errors }} 
                {{ hidden_field }} 
            {% endfor %}
            <div class='row'>
                <table id='form_holder'>
                    <tr>
                        <td style="padding:0" class="OrderLines">
                            {{formset.management_form}}
                            {{formset.media}}
                            <table id='order_table'>
                            <thead>
                                <div class='row'>
                                    <tr>
                                        <th class='col text-center'>Media</th>
                                        <th class='col text-center'>Container</th>
                                        <th class='col text-center'>Volume</th>
                                        <th class='col text-center'>Qty</th>
                                        <th class='col text-center'>Cost</th>
                                    </tr>
                                </div>
                            </thead>
                            <tbody>
                                <div class='row'>
                                {% for form in formset %}
                                {% if form.non_field_errors %}
                                <tr>
                                    <td colspan="6">
                                        {{ form.non_field_errors }}
                                    </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    {% for hidden_field in form.hidden_fields %} 
                                    {{ hidden_field.errors }} 
                                    {{ hidden_field }}
                                    {% endfor %}
                                    {% comment %} <td class='col text-center'>
                                        <!-- django.jquery.formset appears to need DELETE field in a td tag to work -->
                                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                        <select name='{{form.prefix}}-mediatype' id='{{form.prefix}}-mediatype' class='form-control'>
                                            <option value=""> --------- </option>
                                            {% for media_type, media_type_desc in media_types %}
                                                <option value="{{media_type}}" {% if form.instance.inventory.media_type == media_type %} selected {% endif %}>
                                                    {{media_type_desc}}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </td> {% endcomment %}
                                    <td class='col text-center'>
                                        {{ form.inventory.errors }}
                                        {{ form.inventory }}
                                    </td>
                                    <td class="col text-center inv_container">
                                        <p> --------- </p>
                                    </td>
                                    <td class="col text-center inv_vol"> 
                                        <p> --------- </p>  
                                    </td>
                                    <td class='col'>
                                        {{ form.qty.errors }}
                                        {{ form.qty }}
                                    </td>
                                    {% if user.is_staff is True %}
                                    <td class='col text-center staff' id='id_cost'>
                                        {{ form.line_cost.errors }}
                                        {{ form.line_cost }}
                                    </td>
                                    {% else %}
                                    <td class='col text-center'>
                                        {{ form.line_cost.errors }}
                                        {{ form.line_cost }}
                                    </td>
                                    {% endif %}
                                </tr>                            
                                {% endfor %}
                                </div>                        
                            </tbody>
                            </table>                
                        </td>                    
                    </tr>
                </table>
            </div>
        </fieldset>

        <fieldset>          
            <div class='row'>
                    <div class = 'col-xs-3'>
                        <!-- <input id='add_order_line' class='btn btn-default' type='button' value="Add Item" /> -->
                    </div>
                    <div class='col-xs-offset-6 col-xs-2 text-right'>
                        <p><strong>Total</strong></p>
                        <p class="aggregate_total">
                        {{order_form.instance.total | currency}}</p>
                    </div>
            </div>
        </fieldset>
            <p>&nbsp;</p>         
            <div class='row'>
            <hr/>
                <p></p>
                <div class='col-xs-10'>
                    <input type="reset" value="Cancel" class="btn btn-danger"/>
                </div>
                <div class="col-xs-2">
                    <input class='btn btn-primary pull-right' type='submit' value='Complete Order' name='submit'>
                </div>
            </div>
            
    </form>
    <script type="text/javascript">
        $(function () {
            $('#order_table tbody tr').formset({
                prefix:'{{ formset.prefix }}',
                addText:'Add Item',
                removeText: 'Delete',
                addCssClass:'btn btn-default',
                deleteCssClass:'btn btn-danger',
                added: register_row,
                removed: deregister_row
            });            
            $('#order_table tbody tr.dynamic-form').map(function (index, row){
                register_row($(row));        
            });    
        });
    $(".chosen-select").chosen({search_contains:true});

    </script>

    <p>&nbsp;</p>
{% else %}    
    <div class='row'>
        <div class='col-xs-12'>
            <h2>Please use media sign-out tablets to sign out food.</h2>
        </div>
    </div>
{% endif %}
{% endblock %}
