{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html"%}
{% endblock %}
{% block content %}
{% load formset_tags %}
{% load store_tags %}
{% load static %}
<script src="{% static 'js/jsmedia.js' %}"></script> 

<hr/>
<p>&nbsp;</p>

<div class='row'>
    <div class='col-xs-12'>
    <h2>Bill remainder of fly food to the Fly Facility</h2>
    </div>
</div>
<hr/>
<p>&nbsp;</p> 
today: {{today}}
nextbill: {{nextbill}}
lastbill: {{lastbill}}

<fieldset>
    <legend>Submit this month's total numbers for cornmeal bottles and vials</legend>
    <form id='bvform' method='post' action=''>
        {% csrf_token %}
        {{ formset.non_field_errors }}
        {% for hidden_field in formset.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        {{formset.management_form}}
        <table class='table table-sm'>
            <thead>
                <tr>
                    <th class='col-xs-2'></th>
                    <th class='col-xs-1 text-center'>QTY</th>
                    <th class='col-xs-9'></th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                {% if form.non_field_errors %}
                <tr>
                    <td>
                        {{ form.non_field_errors }}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    {% for hidden_field in form.hidden_fields %} 
                    {{ hidden_field.errors }} 
                    {{ hidden_field }}
                    {% endfor %}
                <tr>
                    <td class='col-xs-2'>
                        {{form.item.errors}}
                        {{form.item}}
                    </td>
                    <td class='col-xs-1'>
                        {{form.amnt.errors}}
                        {{form.amnt}}
                    </td>
                    <td class='col-xs-9'></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>     
        <input class='btn btn-primary' type='submit' value='Submit' name='submit'>
    </form>
</fieldset>
<p>&nbsp;&nbsp;</p>
<fieldset>
    <legend>Made vs. billed for this billing period</legend>
    <table class='table'>
        <thead>
            <tr>
                <th scop='col'></th>
                <th scope='col'># Made this Billing Period</th>
                <th scope='col'># Ordered this Period</th>
                <th scope='col'># Remainder</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope='row'>Bottles</th>
                <td class='bottle_i_td'>
                    {{inputBottles.amnt}}
                    {% comment %} <div class="input-group">
                        <input type="text" class="form-control" id='bottle_i' placeholder="Bottle input" aria-describedby="basic-addon1">
                    </div> {% endcomment %}
                </td>
                <td id='bottle_c'>{{currentBottles}}</td>
                <td class='bottle_lo'></td>
            </tr>
            <tr>
                <th scope='row'>Vials</th>
                <td class='vial_i_td'>
                    {{inputVials.amnt}}
                    {% comment %} <div class="input-group">
                        <input type="text" class="form-control" id='vial_i' placeholder="Vial input" aria-describedby="basic-addon1">
                    </div> {% endcomment %}
                </td>
                <td id='vial_c'>{{currentVials}}</td>
                <td class='vial_lo'></td>
            </tr>
        </tbody>
    </table>
</fieldset>
<script type='text/javascript'>

    //allow submission of disabled fields
    $('#bvform').submit(function() {
        $('select').removeAttr('disabled');
    })

    //to show remainder of bottles and vials to bill to Fly Facility
    $(function(){
        var bottle_ival = $('.bottle_i_td').text();
        var bottle_cval = $('#bottle_c').text();
        var bottle_r = (bottle_ival - bottle_cval);
        if (bottle_r < 0){
            $('td.bottle_lo').text(bottle_r.toFixed(2)).css({
                'color': 'red',
                'font-weight': 'bolder'
            });
        }
        else {
            $('td.bottle_lo').text(bottle_r.toFixed(2)).css({
                'color': 'green',
                'font-weight': 'bolder'
            });
        }
    });

    $(function (){
        var vial_ival = $('.vial_i_td').text();
        var vial_cval = $('#vial_c').text();
        var vial_r = (vial_ival - vial_cval);
        if (vial_r < 0){
            $('td.vial_lo').text(vial_r.toFixed(2)).css({
                'color': 'red',
                'font-weight': 'bolder'
            });
        }
        else {
            $('td.vial_lo').text(vial_r.toFixed(2)).css({
                'color': 'green',
                'font-weight': 'bolder'
            });
        }
    });
</script>
{% endblock %}
