{% extends "store/base.html" %}
{% block navbar %}
{% include "store/navbar.html"%}
{% endblock %}
{% block content %}
{% load formset_tags %}
{% load store_tags %}
{% load static %}
<script src="{% static 'js/jsmedia.js' %}"></script> 

<hr/>
<p>&nbsp;</p>

<div class='row'>
    <div class='col-xs-12'>
    <h2>Bill remainder of fly food to the Fly Facility</h2>
    </div>
</div>
<hr/>
<p>&nbsp;</p>

<table class='table'>
    <thead>
        <tr>
            <th scop='col'></th>
            <th scope='col'># Made this Billing Period</th>
            <th scope='col'># Billed this Period</th>
            <th scope='col'># Left Over</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope='row'>Bottles</th>
            <td class='bottle_i_td'>
                <div class="input-group">
                    <input type="text" class="form-control" id='bottle_i' placeholder="Bottle input" aria-describedby="basic-addon1">
                </div>
            </td>
            <td id='bottle_c'>{{currentBottles}}</td>
            <td>LEFTOVER BOTTLES JS</td>
        </tr>
        <tr>
            <th scope='row'>Vials</th>
            <td class='vial_i_td'>
                <div class="input-group">
                    <input type="text" class="form-control" id='vial_i' placeholder="Vial input" aria-describedby="basic-addon1">
                </div>
            </td>
            <td id='vial_c'>{{currentVials}}</td>
            <td>LEFTOVER VIALS</td>
        </tr>
    </tbody>
</table>

<script type='text/javascript'>
    $(function(){
        $('#bottle_i').on('input', function (evt){
            var bottle_ival = evt.target.value;
            console.log(bottle_ival);
            var bottle_cval = $('#bottle_i').parents('.bottle_i_td').siblings('#bottle_c').val();
            console.log(bottle_cval);
        })
    })
</script>
{% endblock %}
