<!DOCTYPE html>
{% load static %}
{% load store_tags %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <title>MediaStore</title>

    <!-- CSS -->
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel = "stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" >
    <link rel='stylesheet' href='{% static "chosen_v1.8.7/chosen.min.css" %}' >
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class='container wrapper'>
    {% if messages %}

        {% for message in messages %} 
        <div class="messages alert alert-{{ message.tags|msgbootstrapconvert }}">
            <strong>{{ message }}</strong>
        </div>
         {% endfor %}
    {% endif %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <!-- media-specific javascript -->
        <script src="{% static 'js/jsmedia.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="{% static 'bootstrap-3.3.7/js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.formset.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src='{% static "chosen_v1.8.7/chosen.jquery.js" %}'></script>
        {% comment %} <script scr='//cdn.ckeditor.com/4.10.1/standard/ckeditor.js'></script> richtexteditor on hold ~FIX~{% endcomment %}
        <!-- <script src="{% static 'js/are-you-sure.js' %}"></script> -->

      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>