{% extends "store/base.html" %} 
{% block navbar %} 
{% include "store/navbar.html" %}
{% endblock %} 
{% block content %}
{% load static %}
<hr/>

<b>THIS IS THE TEST VIEW</b>
<div class="number-input">
  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
  <input class="quantity" min="0" name="quantity" value="1" type="number">
  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
</div>
{% if user.is_staff is True and days <= 4 %} {% comment %} don't think this is working {% endcomment %}
<div class="alert alert-danger" role='alert'>There are {{days}} days until the next billing cycle.</div>
{% endif %}
{{last_monday}}
<div class="alert alert-warning hidden recur3" role='alert'>You have one or more orders that will end in 3 weeks. If you want to extend the end date, please edit the order(s).</div>
<div class="alert alert-danger hidden recur1" role='alert'>You have one or more orders that will end in 1 week. If you want to extend the end date, please edit the order(s).</div>

<ul class="nav nav-tabs">
    <li class="nav-item active" id='nav-incomplete'>
        <a class="nav-link" data-toggle="tab" href="#incomplete">Incomplete</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#complete_not_billed">Complete not Billed</a>
    </li>
    <li class="nav-item" id='nav-complete_billed'>
        <a class="nav-link" data-toggle="tab" href="#complete_billed">Complete and Billed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#can">Canceled</a>
    </li>
    <li class="form-group pull-right">                    
        <input id="filter" type="text" class="form-control" placeholder="Search for...">
    </li>
</ul>

<form method="post" action="" id="orderstatusform">
{% csrf_token %}
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade-in active" id="incomplete">
        <div class="row">
            <div class="col-xs-12">
                <h3>Submitted/In-Progress Orders</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 workorder_list">
                {% include "store/test_list_gen.html" with orderforms=incomp label='incomp' specPages=pagesI headers=headers1 %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Recurring Orders</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 workorder_list">
                {% include "store/test_list_gen.html" with orderforms=recur label='recur' specPages=pagesR headers=headers2 %}
            </div>
        </div>
        {% if user.is_staff is True %}
        <a href="{% url 'export_ordersIP' %}" name='data' class="btn btn-info">Export In Progress</a>
        {% endif %}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="complete_not_billed">
        <div class="row">
            <div class="col-xs-12">
                <h3>Complete, Not Billed</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 workorder_list">
                {% include "store/test_list_gen.html" with orderforms=compNotBill label='CNB' specPages=pagesCNB headers=headers3 %}
            </div>
        </div>
        {% if user.is_staff is True %}
        <a href="{% url 'export_ordersCNB' %}" name='data' class="btn btn-info">Export Billing Data</a>
        <button type='submit' class="btn btn-warning" onclick="changeAllBill()">Change to billed</button>
        {% endif %}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="complete_billed">
        <div class="row">
            <div class="col-xs-12">
                <h3>Complete and Billed</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            {% include "store/test_list_gen.html" with orderforms=compBill label='CB' specPages=pagesCB headers=headers4 %}
                {% comment %} {% include "store/Billsearch_form.html" %} {% endcomment %}
            </div>
        </div>
        {% comment %} <div class="row">
            <div class="col-xs-12 workorder_list">
                {% include "store/search_list.html" with headers=headersB %}
            </div>
        </div> {% endcomment %}
    </div>

    <div role="tabpanel" class="tab-pane fade" id="can">
        <div class="row">
            <div class="col-xs-12">
                <h3>Canceled</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 workorder_list">
                {% include "store/test_list_gen.html" with orderforms=cancel label='CAN' specPages=pagesCAN headers=headers5 %}
            </div>
        </div>
    </div>
    <div>    
        {% if user.is_staff is True %}
        <button type="submit" name='status' class="btn btn-primary pull-right">Submit</button>
        {% endif %}
    </div>
</div>
</form>
<script type="text/javascript">

//highlight changed status, if recurring order is ending soon, if order has custom order within
    $(function highlight(){
        var date = moment();
        $(this).find("[class^='date-stop']").each(function(){
            var endDate = moment(($(this).text()), 'MMMM-DD-YYYY');
            var days = endDate.diff(date, 'days');
            if( 21 >= days && days >= 7){
                $(this).parent().addClass('threeWeeks');
            } else if( 7 > days && days >= 0){
                $(this).parent().addClass('oneWeek');
            } 
        });    
        //show alert for recurring order ending in either 3 or 1 week(s)
        if ($('.threeWeeks').length){
            $('.recur3').removeClass('hidden');
        } else {
            $('.recur3').addClass('hidden');
        }
        if ($('.oneWeek').length){
            $('.recur1').removeClass('hidden');
        } else {
            $('.recur1').addClass('hidden');
        }
        //make custom order price red
        $(this).find("[class^='inv']").each(function(){
            var orderInv = $(this).text();
            var lineCost = $(this).siblings('.linetotal').text();
            if(orderInv == 'Custom Order' && lineCost == '$1.00'){
                $(this).css({'color':'red', 'font-weight':'bold'});
                $(this).siblings('.linetotal').css({'color':'red', 'font-weight':'bold'});
                $(this).parents('.collapse').prev().children('.ordertotal').css({'color':'red', 'font-weight':'bold'});
            }
        });
    });

    $(function(){
        $('select').on('change', function(e){
            $(e.target).removeClass();
            $(e.target).addClass(e.target.value + ' form-control changed');
            if($(this).closest('.koala').hasClass(e.target.value)){
                if($(this).closest('.koala').hasClass('sdd')){
                    $(this).parent().next().children().prop('checked', false);
                    $(this).closest('.koala').removeClass('sdd');
                }
            }else{   
                $(this).parent().next().children().prop('checked', true);
                $(this).closest('.koala').addClass('sdd');
            }
        });
    }); 
    // temp pagination fix
    $(function(){
        var curr =  $('.pagination').attr('id');
        $('.current').each(function(){
            var tPag = $(this).attr('id');
            console.log('current:' + curr);
            console.log('tpag:' + tPag);
            if(tPag == 1){
                $(this).text('Page ' + tPag + ' of ' + tPag);
                $(this).siblings('.prev').hide();
                $(this).siblings('.next').hide();
                console.log('tpag=1');
            } else if(curr == 1){
                $(this).text('Page ' + curr + ' of ' + tPag);
                $(this).siblings('.next').show();
                $(this).siblings('.prev').hide();
                console.log('curr=1');
            } else if(curr == tPag){
                $(this).text('Page ' + tPag + ' of ' + tPag);
                $(this).siblings('.next').hide();
                $(this).siblings('.prev').show();
                console.log('curr==tpag');
            } else {
                $(this).text('Page ' + curr + ' of ' + tPag);
                $(this).siblings('.next').show();
                $(this).siblings('.prev').show();
                console.log('curr<tpag');
            };
        });
    });
    //if .search_list, make that tab active
    $(function(){
        if($('tbody.search_list').length){
            $('#incomplete').removeClass('active');
            $('#nav-incomplete').removeClass('active');
            $('#complete_billed').addClass('active in');
            $('#nav-complete_billed').addClass('active');
        } else {
            console.log('no search!')
        }

    });  


</script>

{% endblock %}
