
/*!
 * .table thead>tr>th,
 * .table tbody>tr>th,
 * .table tfoot>tr>th,
 * .table thead>tr>td,
 * .table tbody>tr>td,
 * .table tfoot>tr>td{
border:none;
}*/

body{
  padding-bottom:10px;
  margin: 0;
}

td.details-control {
  text-align:center;
  color:forestgreen;
cursor: pointer;
}

tr.shown td.details-control {
text-align:center; 
color:red;
}

.active-icon {
  color: #008000;
}

#center_columns {
  align-items: center;
  text-align: center;
}

.disabled-icon {
  color: #FF0000;
}

#expand:hover {
  cursor: pointer;
  color: #23527c;
  text-decoration: underline;
}

#inventory-buttons {
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

#inventory_table_filter {
  display: flex;
  float: left !important;
}

#search_row {
  justify-content: end;
}

#add_inv_btn {
  float: right;
}

.messages {
  text-align: center;
}


#inv-h {
  display: flex;
  height: 96px;
  align-items: center;
}

.pull-right {
  float: right !important;
}

.form {
  position: relative;
}

h1 {
    color:#333;
    text-decoration:none;
    font-size: 300%;
    vertical-align: middle;
    display: table-cell;
    padding-top: 50px;
}

.form-text {
  width: 300px
}

h1 {
  color:#333;
  text-decoration:none;
  font-size: 200%;
}

.team h3, .team h4, .team2 h4, .team2 h5 {
  text-align: center;
}


p {
  font-size: 125%;
}

li {
  font-size: 125%;
}

table.foodcal tr, table.foodcal th, table.foodcal td {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-row > [class*='col-']{
  display: flex;
  flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
  flex-direction: column;
  display: flex;
  flex: 1 0 auto;
  height: auto;
  position: relative;
}

.flex-text {
  flex-grow: 1;
}

.flex-row img {
  min-width: 0;
  width: 100%;
}

#table_header {
  align-content: center;
  text-align: center;
}

#head_hov:hover {
  color: #23527c;
  text-decoration: underline;
}

.notes {
  display: none;
}

.sorted.ascending .glyphicon-sort, .sorted.ascending .glyphicon-arrow-down {
  display: none;
}
.sorted.descending .glyphicon-sort, .sorted.descending .glyphicon-arrow-up {
  display: none;
}
.unsorted .glyphicon-arrow-up, .unsorted .glyphicon-arrow-down {
  display: none;
}